.cards {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 10px;
    div {
        width: 250px;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }
    h1,
    p {
        font-family: "poppins";
        font-size: 14px;
        text-align: center;
    }
    img {
        object-fit: cover;
        width: 100%;
    }

    .baskbtn {
        &:hover button {
            background-color:#FE4C50 !important;
            color: #fff;
        }
        button {
            display: block;
            background-color: #fff;
            width: 100%;
            border-radius: 0;
        }
    }
}
